*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    outline: none;
    list-style: none;
}
body{
    background: white;
    color: white;
}
.profile{
    /* width: 100%; */
    height: 800px;
    padding-right: 8px;
    padding-left: 8px;

    
}
.nav{
    display: flex;
    /* background-color: red; */
    background-color: #212025;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 0; */
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    overflow: hidden;  
    top: 0;
    z-index: 0;

}
h1{
    color: white;
    font-size: 20px;
    padding: 16px 20px;
}
h1 span{
    color: #676cdb;
}
.nav ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex: 1;
    
}
.nav ul li{
list-style: none;
}
.nav ul li a{
text-decoration: none;
text-transform: capitalize;
font-weight: normal;
color: white;
transition: .5s ease-in;
}
.nav ul li a:hover{
    color: white;
    border-radius: 25px 15px 17px;
    /* font-weight: bold; */
    /* box-shadow:0 0 0 12px lightblue; */
    background-color:#676cdb;

}
/* a:active{
    color: #676cdb;
    background-color: white;
} */
.social{
    height: 100%;
    float: left;
    left: 0;
    padding-right: 10px;
    justify-content: space-between;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: -1;

}
.social i{
    
    font-size: 25px;
    text-align: center;
    /* margin: 25px 0px; */
    color: white;
    justify-content: space-between;
    /* padding: 0px 5px; */
    padding-right: 40px;
    z-index: -1;
    /* align-items: center, end, start; */
    
}
#profile{
    width: 1090px;
    height: 800px;
    background: #212025;
    /* padding: 8px;
    margin-top: 20px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.content{
    /* margin: 70px 10px; */
    padding:120px 25px;
    margin-left: 25px;
    width: 800px;
    height: 800px;
    background: #212025;
}
.content h1{
    font-weight: bolder;
    font-size: 68px;
}
.content p{
    padding-top: 10px;
    padding-left:27px ;
    font-size: 22px;
}
/* .img{
    height: 100%;
    top: 0;
    right: 0px;
    position: absolute;

}
.img .img-right{
    height: 100%;
    background: #676cdb;
    width: 360px;
}
img{
    position: absolute;
    bottom: 0;
    right: -60px;
    max-width: 500px;
    filter: grayscale(100%);
} */
.img img{
    max-width: 500px;
    position:absolute;
    right: -60px;
    bottom: 0;
    z-index: -1;
    background: #676cdb;
    /* margin-left: 0px; */
}

.btn{
    padding: 23px 36px;
    margin: 55px 20px 80px 25px;
    color: white;
    width: 30%;
    border-radius: 55px;
    background: #676cdb;
    font-size: 17px;
    border: none;
    font-weight: bold;
    
    
}
.btn:hover{
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
    color: black;
} 
.container{
    width: 1100px;
    max-width: 100%;
 /* margin: 0 auto; */
    padding-top: 20px;
    background-color: w;
}
.row{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex;
    /* border: 3px solid gold; */
    width: 100%;
    
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 1rem;
}
.card h2{
    font-size: 50px;
    margin-left: 25px;
}

#service{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
    background-color: white;
    /* color: #676cdb; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.header-section h1{
    color: #000;
    font-weight: 800px;
    font-size:3.7em;
    align-items: center;
    line-height: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-section h2{
    color: #676cdb;
    text-align: center;
    font-weight: lighter;
    margin-top: 100px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-service{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
   width: 100%;
   height: 100%;
   justify-content: space-evenly;
   margin-right: 100px
   
    /* margin:30px 0px; */
}
.rows{
    /* margin-right: 140px; */

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* margin:  50px 0px; */
    /* background: red; */
}

.box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 350px;
    height: 350px;
    align-items: flex-start;
    /* text-align: justify; */
    padding: 10px;
    border-radius: 15px;
    margin: 25px;
    background: white;
    /* box-shadow:   0 27px 40px rgba(0,0,0,0.1); */
    box-shadow: 0px 20px 35px 10px rgba(4, 9, 30, 0.05);
}
.box:hover{
    background: #676cdb;
    transition: .5s ease-in-out;
    color: white;
    font-weight: bolder;
}
.box i{
    color: black;
    font-size: 46px;
    width: 70px;
    padding: 20px;
}
.heading{
    color: black;
    font-weight: bolder;
    font-size: 26px;
}
.box p{
    padding: 20px;
    font-size: 18px;
    font-weight:  normal;
    color: #9f9f9f;
    line-height: 26px;
}
/* aboutmesection */
.bout{
    height: 650px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bout .main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background: blue; */
    /* height: 600px; */
    height: auto;
}
.bout .main img{
    width: 34%;
    padding: 0 10px;
    /* height: 60vh; */
    border-radius: 25px;
    /* margin: 100px 70px; */
    
    display: flex;
    
}
.text{
    width: 600px;
    /* height: 60vh; */
    max-width: 100%;
    padding: 0 10px;
    /* align-items: center; */
    /* justify-content: center; */
    /* background: red; */
    /* margin-top:-250px ; */
    margin-left: -80px;
    top: 0;

}
.text h2{
    color: #676cdb;
}
.text h1{
    color: #000;
    padding-left: 2px;
    font-size: 36px;
}
.text p{
    letter-spacing: 1px;
    line-height: 27px;
    color: #9f9f9f;
    font-size: 18px;
}
.Btn {
    /* background: red; */
    width: 600px;
}
.Btn i{
    font-size: 50px;
    color: #000;
    padding-right: 20px;
    /* padding-top: 160px; */
    align-items: center;
    /* display: flex; */
}




#portfolio{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    /* background: red; */
    /* top: 0; */
    margin-bottom: 50px;
    /* background-color:black; */
    /* color: #676cdb; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 1250px;
}

.navbar{
    display: flex;
    /* background: brown; */
    width: 500px;
}
.navbar ul{
    justify-content: space-around;
    gap: 40px;
    display: flex;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /* background: red; */
    /* width: 100%; */
    height: 800px;
    padding:60px;
    /* align-items: center; */
    flex:  1, 1,1,1.1rem;
}
.porty{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    /* background: #676cdb; */
    height: 1200px;
    width: 1450px;

}
.cardA{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 430px;
    height: 850px;
    /* background: #000; */
    margin: 40px;
    
}
.cardA .A1{
    width: 100%;
    height: 400px;

}
.cardA .A2{
    width: 100%;
    height: 320px;
}
.cardB{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    height: auto;
    /* background: red; */
    margin: 10px;
    
}
.cardA img{
    
    max-width: 100%;
    width: 430px;
    /* height: 400px; */
    height: auto;
    border-radius: 25px;
    /* margin: 30px; */
    /* transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle; */
    /* padding: 13px; */

    /* position: absolute; */
}
/* .cardA img:hover{
    transform: scale3d(1.1, 1.1, 1.1);
} */
.cardA .A2 img{
    width: 100%;
    height: 340px;
    border-radius: 25px;
    margin-top: 50px;
    /* padding: 13px; */

    /* position: absolute; */
}
.cardB img{
    max-width: 100%;
    /* height: 430px; */
    border-radius: 25px;
    margin: 10px;
}
.cardB .A3 img{
    width: 520px;
    height: 320px;
    border-radius: 25px;
    margin-top: 30px;
    /* padding: 13px; */

    /* position: absolute; */
}

.cardB .A4 img{
    /* margin-top: 12px; */
    width: 100%;
    height: 64.9vh;
}
#blog{
    display: flex;
    /* flex-direction: column; */
    /* background-color: red; */
    width: 100%;
    height: auto;
    /* margin-top: 40px; */
}
.blog-part{
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    /* background-color: white; */
    color: #676cdb;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}
.blogy{
     /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    /* color: black; */
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin-right: 100px
    
     /* margin:30px 0px; */
}
.rowy{
    /* margin-right: 140px; */

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column;
    height: 500px;
    width: 300px; */
    /* margin:  50px 0px; */
    /* background: red; */
}
.cardy{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 410px;
    height: 470px;
    align-items: flex-start;
    /* text-align: justify; */
    /* padding: 10px; */
    border-radius: 15px;
    margin: 22px;
    /* background: yellow; */
    /* box-shadow:   0 27px 40px rgba(0,0,0,0.1); */
    box-shadow: 0px 20px 35px 10px rgba(4, 9, 30, 0.05);
   
    
}
.blog-image img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
}
.blog-image img:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}
.cardy .texty{
    margin: 10px 22px;
    width: 380px;
    height: 450px;
    line-height: 27px;
    align-items: center;
    justify-content: center;
}
.texty h2{
    color: #676cdb;
    font-size: 18px;
}
.texty span{
    color: #9f9f9f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texty h3{
    margin-top: 10px;
    color: black;
    font-size: 21px;
}
.texty p{
    margin-top: 5px;
    color: #9f9f9f;
    font-size: 18px;
}
#contact{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    /* flex-direction: column; */
    padding: 20px;
    /* background-color:red; */
    align-items: center;
    width: 100%;
    height: auto;
}
.contact-profile{
    padding: 40px;
    background: green;
}
.contact-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background: pink; */
    height: 600px;
    width: 600px;
    padding: 13px 15px;
}
.contact-section h2{
    color: #676cdb;
    /* text-align: center; */
    font-weight: lighter;
    margin-left:25px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-section h1{
    color: #000;
    font-weight: 800px;
    font-size:48px;
    /* align-items: center; */
    line-height: 3rem;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
}   
ul.menu{
    /* background: white; */
    margin-top: 40px;
    margin: 20px 22px;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
}
.menu li{
    margin:  6px 0 ;
}
.menu p{
    color: #9f9f9f;
}
#contact .contact-form{
    /* margin: 50px; */
    /* display: flex; */
    background: #676cdb;
    height: 500px;
    width: 680px;
    /* float: right; */
    /* right: -60px; */
    margin-left: 140px;
    border-radius: 25px;
    padding-right: 100px;
    /* margin-right: 3px; */
    /* position: absolute; */
}
form{
    padding:100px 40px;
    outline: none;
    border: none;
}
form input{
    width: 100%;
    padding: 15px 15px;
    font-size: 17px;
    margin: 8px 0;
    border: none;
    outline: none;
    background:2px#676cdb ;

}
form textarea{
    width: 100%;
    height: 1px;
}
.btnc{
    padding: 20px 15px;
    margin: 50px 140px;
    border-radius: 55px;
    width: 50%;
    color: white;
    background: black;
}

/* footer section */
.iconic{
    background: #676cdb;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.iconic i{
    font-size: 34px;
    justify-content: space-between;
    text-align: center;
    color: white;
    margin: 0 15px;
}
#footer p{
    color: whitge;
}

/* testimonial part */
.testimony{
    background: pink;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sub-header{
    background: red;
    width: 100%;

}
.sub-header h2{
    color: #676cdb;
}
.sub-header h1{
    color: #000;
    font-weight: 800px;
    font-size:48px;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.trow{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;

}.tcard{
    background:white;
    width: 600px;
    height: 45vh;
    margin: 10px;
    padding: 14px;
    border-radius: 25px;
    box-shadow: 0px 20px 35px 10px rgba(4, 9, 30, 0.05);
}
.tcard p{
    color: #9f9f9f;
    line-height: 25px;
}
.client{
    background: red;
    margin-top: 20px;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.client-img img{
    border-radius: 55%;
    width: 15%;
    /* display: flex;*/
}
.ttext{
    display: flex;
}